:root {
  --cyan-400: #0bc5ea;
  --pink-500: #d53f8c;
  --gray-500: #718096;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.d-flex {
  display: flex;
}

.f-align-end {
  align-items: flex-end;
}

.ml-1 {
  margin-left: 1em;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-gray {
  background-color: var(--gray-500) !important;
}